.set-block-hidden {
    display: none;
}



/* Station CSS */

/*
    Player 
*/
.player-control-panel {
    margin-top: -4px; margin-right: -10px;
}

.player-control-btn {
    width: 40px;
    margin: 3px;
}

.player-volume-slider {
    width: 80px !important;
}

.set-player-width {
    width: 850px;
}

.set-player-size {
    width: 850px;
    height: 450px;
}

.set-player-middle-size {
    position: absolute;
    margin-left: 425px;
    margin-top: 225px;
}

.wiki-text {
    margin-top: 10px;
    font-size: 13px;
    line-height: 18px;
    font-family: 'Lucida Grande', Arial, Helvetica, Verdana, sans-serif;
}

.margin-from-title{
    margin-top: 30px !important;
}

.similar-artist-tile{
    background-size: cover;
    background-repeat: no-repeat;
}

/*
  Similar artists  
*/
.similar-artist-tile {
    height: 100% !important;
}

.similar-empty-message {
    background: #eef5fc;
}


/*
* Tags
*/

.tags-panel{
    margin-left: -30px;
}

.tags{
   
}

.tags li{
    float: left;
}

ul{
    list-style: none;

}

.tags a {
    display: inline-block;
    color: #fff;
    padding: 3px 10px;
    margin-left: 10px;
    background-color: #0187c5;
    border-radius: 2px;
    text-transform: lowercase;
    line-height: 24px;
    font-size: 12px;

}

.last_a {
    color: #0187c5;
    text-decoration: none;
}

.tags a:focus,
.tag  a:focus,
.tags a:hover,
.tag  a:hover {
    text-decoration: none;
    background-color: #0179b1;
    color: #fff;
}

.tags a:active {
    background-color: #016c9e;
}