@model Hqub.Mellody.Web.Models.NavigationBarModel

<nav class="navigation-bar">
    <nav class="navigation-bar-content">
        <a class="element brand" href="/">@Model.Title</a>
        <a class="element brand" href="@Url.Action("Index", "Music")">Music</a>
        <a class="element brand" href="#">Cloud</a>
        <a class="element brand" href="http://musicbrainz.org">Library</a>
    </nav>
</nav>
