@using Hqub.Mellody.Web.Models

@{
    ViewBag.Title = "Mellody: Your favorite playlist!";
}

@section header
{
   @Html.Partial("~/Views/Controls/Navigation.cshtml", new NavigationBarModel { Title = "Mellody.Music" })
}

@section scripts
{
    @Scripts.Render("~/bundles/app")
    @Scripts.Render("~/bundles/select2")

    <script type="text/javascript">
        InitlalizePlaylistVM();
    </script>
}

<div class="grid">
    <div class="row">
        <form data-bind="submit:addQuery">
            <fieldset>
                <legend>Create your playlist</legend>
                <div>
                    <div class="input-control input-lg text" data-role="input-control">
                        <select class="query-input" style="width: 100%;">
                        </select>
                    </div>
                </div>
              
                <div style="margin-top: 10px;">
                    <div class="input-control radio default-style" data-role="input-control">
                        <label>
                            <input type="radio"
                                   data-bind="checked: typeQuery, click: typeQueryChanged"
                                   name="queryType"
                                   checked=""
                                   value="Artist">
                            <span class="check"></span>
                            artist
                        </label>
                    </div>

                    <div class="input-control radio default-style margin20 nbm ntm nrm" data-role="input-control">
                        <label>
                            <input type="radio"
                                   data-bind="checked: typeQuery, click: typeQueryChanged"
                                   name="queryType"
                                   checked=""
                                   value="Album">
                            <span class="check"></span>
                            album
                        </label>
                    </div>
                    
                    <div class="input-control radio default-style margin20 nbm ntm nrm" data-role="input-control">
                        <label>
                            <input type="radio"
                                   data-bind="checked: typeQuery, click: typeQueryChanged"
                                   name="queryType"
                                   checked=""
                                   value="Track">
                            <span class="check"></span>
                            track
                        </label>
                    </div>
                    
                    <div class="place-right clearfix">
                        <button class="button success" type="submit">
                            <i class="icon-plus-2"></i>
                            Add query
                        </button>
                    </div>
                </div>
                
            </fieldset>
        </form>     
    </div>
    
    <div class="row">
        <h2>Queries</h2>
        
        <div data-bind="visible: mediaQueriesSupported().length == 0" class="margin20">
            <p>Your query list is empty :(</p>
        </div>
        
        <div data-bind="visible: mediaQueriesSupported().length">
            <table class="table hovered border">
                <tbody data-bind="foreach: mediaQueriesSupported">
                    <tr>
                        <td><img width='24px' height='24px' data-bind="attr:{src: image}"/></td>
                        <td><span data-bind="text: name"></span></td>
                        <td><span data-bind="text: typeQuery"></span></td>
                        <td>
                            <div class="place-right clearfix margin15 nlm nbm ntm">
                                <a href="#" data-bind="click: $root.removeQuery"><span class="icon-remove"></span></a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="place-right clearfix">

                <button class="command-button success" data-bind="disable: isExecute, click: runStation">
                    <i class="icon-rocket"></i>
                    Run station
                    <small>enjoy your listening!</small>
                </button>
            </div>

            <div data-bind="visible: isExecute" class="place-right clearfix margin20">
                <img width="25px"
                     src="@Url.Content("/Content/Images/busy_indicator.gif")" />
            </div>
        </div>
    </div>
    
    <div class="row" data-bind="visible: historyStations().length">
        <h2>Last stations</h2>

        <table class="table hovered border">
            <tbody data-bind="foreach: historyStations">
                <tr>
                    <td><a href="#" data-bind="click: $parent.play_station">
                            <span class="icon-play-alt" style="margin-right: 5px;"></span>
                        </a>
                        <span data-bind="text: Name"></span>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>



